body {
    background-color: #6b6969;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow: blue;
}

header {
    background-color: #000;
    padding: 20px;
    box-shadow: 3px 3px 3px 3px #ff7b00;
}

h1 {
    color: #fffbf0;
}

section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 1px 1px 1px 4px #8d8d8d;
}

.faixa, .contra {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 4px #636363;
}

img {
    max-width: 500px;
    border-radius: 100px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #aaaaaa;
}

input {
    padding: 16px;
}

.placeholder {
    padding: 16px

}

.form-section {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
}